Repository Lightning-AI/lightning-thunder, pull requests merged in 2024-10, with the labels that each got.

#1246 [functionalization] boundary check before accessing
  thunder/core/functionalization.py
  thunder/tests/test_inplace_functionalization.py
Labels: in-place

#1245 [functionalization] Fix walrus operator
  thunder/core/functionalization.py
  thunder/tests/test_inplace_functionalization.py
Labels: in-place

#1263 [docs] Add `thunder.dynamo.ThunderCompiler`
  docs/source/index.rst
  docs/source/reference/dynamo/index.rst
  thunder/dynamo/compiler.py
Labels: documentation, dynamo+thunder

#1244 Remove igraph in favor of networkx
  requirements/base.txt
  thunder/core/rematerialization.py
  thunder/tests/test_nvfuser.py
Labels: dependencies

#1283 add helper for `SigInfo` creation in `Function.apply` lookaside
  thunder/core/codeutils.py
  thunder/core/jit_ext.py
Labels: code health

#1206 start liger kernel ops and transforms
  docs/source/index.rst
  notebooks/liger_kernel.ipynb
  requirements/notebooks.txt
Labels: documentation, dependencies

#1273 [transforms] Add ConstantFolding as transform
  thunder/core/utils.py
  thunder/dev_utils/debug_transform.py
  thunder/tests/test_transforms.py
  thunder/torch/__init__.py
  thunder/transforms/constant_folding.py
Labels: transforms

#1294 Make graph visualization from a trace
  thunder/examine/__init__.py
Labels: debugging, examine

#1292 specialcasing `Tensor.to`
  thunder/core/functionalization.py
  thunder/tests/test_inplace_functionalization.py
  thunder/torch/__init__.py
Labels: in-place

#1315 Make Thunder tests runnable with non-distributed build of PyTorch: move litgpt imports into tests
  thunder/benchmarks/__init__.py
  thunder/tests/test_jit_general.py
  thunder/tests/test_torch_compile_executor.py
  thunder/tests/test_transforms.py
Labels: testing

#1127 Add initial support for torch.utils.checkpoint
  thunder/core/jit_ext.py
  thunder/core/pytree.py
  thunder/tests/test_grad.py
  thunder/torch/__init__.py
Labels: autograd

#1327 Skip nvFuser's test_sdpa for pre-Ampere cards because flash attention is not available
  thunder/tests/test_nvfuser.py
Labels: nvidia

#1008 Save benchmark results in asv format
  requirements/test.txt
  thunder/benchmarks/conftest.py
Labels: dependencies

#1370 LitGPT benchmarking: Use native PyTorch checkpointing in the dynamo+thunder path
  thunder/benchmarks/benchmark_litgpt.py
Labels: memory use, dynamo+thunder

#1375 LitGPT benchmarking: Use block FSDP bucketing for Eager, Inductor, ThunderFX by default
  thunder/benchmarks/benchmark_litgpt.py
Labels: benchmarking

#1373 bump pt to 2.5.1
  .azure/docker-build.yml
  .azure/gpu-tests.yml
Labels: docker, ci

#1360 Add celu activation function
  thunder/executors/torchex.py
  thunder/tests/opinfos.py
  thunder/torch/__init__.py
  thunder/torch/default_torch_ops.py
Labels: operators

#1377 bump docs to PyTorch 2.5.1 and corresponding nvfuser
  README.md
  docs/source/fundamentals/installation.rst
Labels: documentation
